.carousel {
    background-color: #f8f9fa;
    margin-top: 300px;
    border-radius: 10px;
}

.carousel-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.carousel-description {
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
    font-weight: 300;
}

.game-box {
    padding: 30px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    margin-top: 50px;
}

.game-slider .item {
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
    position: relative;
}

.game-slider .item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.carousel-image {
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.carousel-image:hover {
    transform: scale(1.05);
}

.game-slider .item h5 {
    font-size: 21px;
    color: #333;
    font-weight: 600;
    margin-top: 15px;
    position: relative;
    z-index: 1;
}

@media (max-width: 480px) {
    .carousel {
        margin-top: 200px;

    }
    .carousel-title {
        font-size: 24px;
        margin-bottom: 10px;
        margin-left: 30px;
    }

    .carousel-description {
        font-size: 12px;
        margin-left: 30px;
    }

    .carousel-image {
        width: 50%;
    }
}
