.events-container {
    max-width: 70%;
    margin: 220px auto;
  }
  
  .events-header {
    margin-bottom: 30px;
  }
  
  .events-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
  }
  
  .event-header {
    display: flex;
    color: black;
    font-weight: bold;
    padding: 15px;
    font-size: 20px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .event-header-col {
    text-align: center;
    flex: 1;
  }
  
  .event-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px !important;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .event-card:hover {
    transform: scale(1.01);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .event-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .event-col {
    text-align: center;
    flex: 1;
    padding: 12px;
    font-size: 1.3rem;
    color: #555;
  }
  
  .join-button svg {
    margin-right: 8px;
  }
  
  .join-button:hover {
    background-color: #e67e22;
    border-color: #e67e22;
  }
  
  .event-header:hover {
    background-color: #f8f9fa;
    cursor: pointer;
  }
  
  .filter-button {
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
  }
  
  .filter-button {
    padding: 15px !important;
    border-radius: 15px !important;
    font-size: 18px !important;
  }
  
  .join-button {
    width: 50%;
    padding: 12px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .join-button:disabled {
    background-color: #ccc;
  }
  
  .no-results-message {
    text-align: center;        
    font-size: 24px;           
    font-weight: bold;          
    margin-top: 50px;           
    color: #e67e22;              
  }
  @media (max-width: 1800px) {
    .events-container {
      max-width: 80% !important;
    }
  
    .events-title {
      font-size: 2.2rem;
    }
  
    .event-header {
      font-size: 18px;
    }
  
    .event-card {
      padding: 18px;
    }
  
    .join-button {
      width: 70%;
      font-size: 17px;
    }
  }
  
  @media (max-width: 920px) {
    .events-container {
      max-width: 100% !important;
      margin-top: 220px;
    }
  
    .events-title {
      font-size: 1.8rem;
      margin-top: 20px;
      margin-bottom: 15px;
    }
  
    .event-card {
      padding: 15px;
    }
  
    .event-col {
      text-align: left;
      padding: 8px;
      font-size: 1rem;
    }
  
    .join-button {
      width: 100%;
      padding: 10px;
      font-size: 16px;
    }
  
    .filter-button {
      width: 100%;
      margin-top: 15px;
    }
  }
  
  @media (max-width: 500px) {
    .events-container {
      max-width: 100% !important;
      margin: 160px auto;

    }
  
    .events-title {
      font-size: 1.5rem;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .event-header {
      font-size: 15px;
      padding: 10px;
    }
  
    .event-card {
      padding: 12px;
    }
  
    .event-col {
      text-align: left;
      font-size: 0.9rem;
      padding: 8px;
    }
  
    .join-button .text {
      display: none;
    }
  
    .join-button svg {
      font-size: 10px;
      margin-right: 0;
    }
  
    .filter-button .text {
      display: none;
    }
  
    .filter-button svg {
      font-size: 15px;
    }
  
    .join-button {
      padding: 5px 10px;
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
    }
  
    .filter-button {
      margin-bottom: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .event-col.date-col,
    .event-col.name-col,
    .event-col.genre-col {
      font-size: 10px !important;
      color: #444;
    }
  }
  