.events-container {
    padding: 50px;
    max-width: 100%;
    margin: 150px auto;
    box-sizing: border-box;
}

.events-title {
    color: #333;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.event-header {
    display: flex;
    color: black;
    font-weight: bold;
    padding: 15px;
    font-size: 20px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

.event-header-col {
    text-align: center;
    flex: 1;
}

.event-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px !important;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover {
    transform: scale(1.01);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.event-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event-col {
    text-align: center;
    flex: 1;
    padding: 12px;
    font-size: 1.3rem;
    color: #555;
}

.join-button svg {
    margin-right: 8px;
}

.join-button:hover {
    background-color: #e67e22;
    border-color: #e67e22;
}

.event-header:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.sort-dropdown {
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    font-size: 18px;
}

.filter-button {
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
}

.sort-dropdown {
    padding: 15px !important;
    border-radius: 15px !important;
    width: 100%;
    font-size: 18px !important;
}

.filter-button {
    padding: 15px !important;
    border-radius: 15px !important;
    font-size: 18px !important;
}

.join-button {
    width: 50%;
    padding: 12px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-button:disabled {
    background-color: #ccc;
}
